/* BookForm Component Styles */
.form-container h2 {
  margin: 0 0 1rem 0;
  color: var(--blue-color);
  font-size: 1.5rem;
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-container .form-control {
  display: flex;
  flex-direction: column;
}

.form-container .form-control label {
  color: var(--dark-blue-color);
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-container .form-control input {
  align-items: center;
  height: 1rem;
  font-size: 1rem;
  width: 100%;
  padding: 0.5rem;
  border: 2px solid var(--light-blue-color);
  border-radius: 10px;
}

.btn.primary {
  background: var(--blue-color);
  color: var(--white-color);
  border: 1px solid var(--blue-color);
  border-radius: 10px;
  padding: 0.5rem;
  width: 50%;
  font-weight: bold;
  cursor: pointer;
}

.btn.primary:hover {
  background: var(--dark-blue-color);
}

